body{
    text-align: center;
    background: url("https://cdn.dribbble.com/users/2293589/videos/28099/shotiot.mp4.mp4") no-repeat;
    background-size: cover;

}
#header{
    background-color: #5c78d7; 
    position:sticky;
    top: 0;  
    z-index: 1;
}

.container-fluid{
    text-align: center;
}
#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#logo {
    position:relative;
    border-radius: 50%;
    width:20%;
}
#logo:hover{
box-shadow: #3A5BA0;
    box-shadow: 5px 10px 30px;
}
#mob-top{
    width: 50vw;
}
#box{
    background-color: aliceblue;
    width: 200px;
    height: 200px;
}
#tab{
    width: 10%;
}

#footer{
    text-align: center;
    bottom: 0;
}
.social-icon{
    width:15%;
}
#head_title{
    color:#3d3a40;
    font-family: 'Neue Kabel';
}
#backTop_icon{
    width: 6vh;
}
.bacTop_text{
    text-decoration: none;
    color: black;
}
#title_about{
    font-family: 'Ubuntu', sans-serif; 
    line-break:normal;
    line-height: 2;
    width: 50vw;

}
#company_p{
    font-family: 'Ubuntu', sans-serif; 
    line-break:normal;
    line-height: 2;
    width: 50vw;
}
@media only screen and (max-width: 768px){
    #title_about{
        width: 100%;
        line-break: loose;
    }
    #company_p {
        width: 100%;
        line-break: loose;
    }

}