body{
    background: linear-gradient(135deg, #ebfafd 60%, #aeccfb);
    text-align: center;

}
#header{
    background-color: #5c78d7; 
    /* position:sticky;
    top: 0;   */
}
/* @media screen and (min-width:768px) {
   #header{
    opacity: 0.8;
   }
} */
.container-fluid{
    text-align: center;

}
/* #background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
} */

/* #main{
background-color: #AECCFB;
} */

#logo{
    position:relative;
    border-radius: 50%;
    width:20%;
}
#logo:hover{
box-shadow: #3A5BA0;
    box-shadow: 5px 10px 30px;
}
#mob-top{
    width: 50vw;
}

#tab{
    width: 10%;
}

#footer{
    /* text-align: center; */
    bottom: 0;
}
.social-icon{
    width:15%;
}
/* #head_title{
    color:#3d3a40;
    font-family: 'Neue Kabel';
} */

form{
    background: linear-gradient(135deg, #ebfafd 60%, #aeccfb);
    font-family: 'Ubuntu', sans-serif;  
    border-radius: 4px solid black;
    font-size: 15px;

}

#submit_btn{
    padding:10px;
    margin-top: 10px;
    width:25%;
    border-radius:12px;
    background:orange;
}