body{
    text-align: center;
    background: linear-gradient(#adb9fa, #75abf7 60%, #f7fbff);

}
#header{
    background-color: #5c78d7; 
    position:sticky;
    top: 0;  
    z-index: 1;
}
.container-fluid{
    text-align: center;
    
}
#main{

}
#footer{
    bottom: 0;
}
#logo{
    position:relative;
    border-radius: 50%;
    width:20%;
}
#logo:hover{
box-shadow: #3A5BA0;
    box-shadow: 5px 10px 30px;
}
#mob-top{
    width: 50vw;
}
#form_post{
    font-family: 'Montserrat', sans-serif;


}
#save_btn{
    padding:10px;
    margin-top: 10px;
    width:25%;
    border-radius:12px;
    background:green;
}

.social-icon{
    width:15%;
}
#backTop_icon{
    width: 6vh;
}
.bacTop_text{
    text-decoration: none;
    color: black;
}