body{
    text-align: center;
    background: url("https://cdn.dribbble.com/users/2293589/videos/28099/shotiot.mp4.mp4") no-repeat;
    background-size: cover;
}
#header{
    background-color: #AECCFB; 
    /* position:sticky;
    top: 0;   */
}
/* @media screen and (min-width:768px) {
   #header{
    opacity: 0.8;
   }
} */
.container-fluid{
    text-align: center;
}
#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#main{

}
#table_Id{
    border: 1px solid black;
}

#logo{
    position:relative;
    border-radius: 50%;
    width:25%;
}
#logo:hover{
box-shadow: #3A5BA0;
    box-shadow: 5px 10px 30px;
}


footer{
    text-align: center;
}
.social-icon{
    width:10%;
}

@media only screen and (max-width:768px) {
    #table_Id{
        display: block;
    }
    #table_Id thead tr {
        position: absolute;
        left:0;
    }
    #table_Id td {
        position: relative;
        padding-left: 50%;
    }
    #table_Id td:before{
        content: attr(data-title);
        position: absolute;
        left: 6px;
        font-weight: bold;
    }


}