body{
    text-align: center;
    background: url("https://cdn.dribbble.com/users/2293589/videos/28099/shotiot.mp4.mp4") no-repeat;
    background-size: cover;

}
#colect_div{
    font-family:'Times New Roman', Times, serif;
    border: 1px solid black;
    text-align: center;
}
#header{
    background-color: #5c78d7; 
    position:sticky;
    top: 0;  
    z-index: 1;
}

.container-fluid{
    text-align: center;
    
}

#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
#footer{
    text-align: center;

}
#logo{
    position:relative;
    border-radius: 50%;
    width:20%;
}
#logo:hover{
box-shadow: #3A5BA0;
    box-shadow: 5px 10px 30px;
}

.social-icon{
    width:15%;
}
#backTop_icon{
    width: 6vh;
}
.backTop_icon{
    text-decoration: none;
    color: black;
}
