body{
    text-align: center;
    background: url("https://cdn.dribbble.com/users/2293589/videos/28099/shotiot.mp4.mp4") no-repeat;
    background-size: cover;
}
#header{
    background-color: #5c78d7; 
    position:sticky;
    top: 0;  
    z-index: 1;
    /* font-size:2rem; */

}
/* button.navbar-toggler {
    background-color:#5c78d7;
    height:100%;
    width: 10%;
} */

/* @media screen and (min-width:768px) {
   #header{
    opacity: 0.8;
   }
} */
.container-fluid{
    text-align: center;
}
#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#main{

}
#footer{
    bottom: 0;
    text-align: center;

}
#logo{
    position:relative;
    border-radius: 50%;
    width:20%;
}
#logo:hover{
box-shadow: #3A5BA0;
    box-shadow: 5px 10px 30px;
}
#mob-top{
    width: 30vw;
    border-radius: 5%;
    opacity: 0.9;
}
.images_con {
    background: linear-gradient(#d5f8f9, hsl(210, 50%, 99%) 60%, #89afed);

}
#box{
    background-color: aliceblue;
    width: 200px;
    height: 200px;
}
#tab{
    width: 10%;
}


.social-icon{
    width:15%;
}
#head_title{
    background: linear-gradient(135deg, #ebfafd 60%, #aeccfb);
    font-family: 'Montserrat', sans-serif;
    line-break:loose;

}
@media only screen and (max-width: 768px){
    #head_title{
        line-break: loose;
        width:100%;
    }
    }

#h1_heading{
    font-family: 'Ubuntu', sans-serif; 
    font-weight:900;
    line-height: 1.2;

}
#icon_name{
    color:#00bfff;
}
#logoIMG{

    border-radius: 50%;
    width: 25%;
}

/* @media only screen and(max-width:768px) {
    #nav_ul{
 
    }
} */
@media only screen and (min-width: 768px){

    .global-p {
        width: 100%;
        line-break: loose;
    }
}

#midle_container{
    font-family: 'Ubuntu', sans-serif; 

}
#backTop_icon{
    width: 6vh;
}
.bacTop_text{
    text-decoration: none;
    color: black;
}
