body{
    text-align: center;
    background: url("https://cdn.dribbble.com/users/2293589/videos/28099/shotiot.mp4.mp4") no-repeat;
    background-size: cover;
}
#header{
    background-color: #aecbfb; 
    position:sticky;
    top: 0;  
}
/* @media screen and (min-width:768px) {
   #header{
    opacity: 0.8;
   }
} */
.container-fluid{
    text-align: center;
}
#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#main{

}
#footer{
    background-color: #5c78d7;
    bottom: 0;
}
#logo{
    position:relative;
    border-radius: 50%;
    width:25%;
}
#logo:hover{
box-shadow: #3A5BA0;
    box-shadow: 5px 10px 30px;
}
#mob-top{
    width: 50vw;
}
#box{
    background-color: aliceblue;
    width: 200px;
    height: 200px;
}
#tab{
    width: 10%;
}
#change_color{
    animation:changeColor 3s infinite alternate ;
}
@keyframes changeColor {
    30%{
        background-image:url(/IMAGES/mobile2.png);
        background-size: 100% 100%;
    }
    50%{
        background-image: url(/IMAGES/mobile.png);
        background-size: 100% 100%;
    }
    100%{
        background-image: url(/);
        background-size: 100% 100%;
    }
}
footer{
    text-align: center;
}
.social-icon{
    width:10%;
}
#head_title{
    color:#3d3a40;
    font-family: 'Montserrat', sans-serif;
    line-break: normal;
    font-size:100px;
}

#icon_name{
    font-family: 'Ubuntu', sans-serif;  
}
#bbbbb{

    border-radius: 50%;
    width: 25%;
}
