body{
    text-align: center;
    background: url("https://cdn.dribbble.com/users/2293589/videos/28099/shotiot.mp4.mp4") no-repeat;
    background-size: cover;
}
#header{
    background-color: #5c78d7; 
    position:sticky;
    top: 0;  
    z-index: 1;
    /* font-size:2rem; */

}
/* button.navbar-toggler {
    background-color:#5c78d7;
    height:100%;
    width: 10%;
} */

/* @media screen and (min-width:768px) {
   #header{
    opacity: 0.8;
   }
} */
.container-fluid{
    text-align: center;
}
#background-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#main{

}
#footer{
    /* background-color: #5c78d7; */
    bottom: 0;
    text-align: center;

}
#logo{
    position:relative;
    border-radius: 50%;
    width:20%;
}
#logo:hover{
box-shadow: #3A5BA0;
    box-shadow: 5px 10px 30px;
}
#mob-top{
    width: 30vw;
    border-radius: 5%;
    opacity: 0.9;
}
.images_con {
    background: linear-gradient(#d5f8f9, hsl(210, 50%, 99%) 60%, #89afed);

}
#box{
    background-color: aliceblue;
    width: 200px;
    height: 200px;
}
#tab{
    width: 10%;
}
/* #change_color{
    animation:changeColor 3s infinite alternate ;
} */
/* @keyframes changeColor {
    30%{
        background-image:url(/IMAGES/mobile2.png);
        background-size: 100% 100%;
    }
    50%{
        background-image: url(/IMAGES/mobile.png);
        background-size: 100% 100%;
    }
    100%{
        background-image: url(/);
        background-size: 100% 100%;
    }
} */

.social-icon{
    width:15%;
}
#head_title{
    background: linear-gradient(135deg, #ebfafd 60%, #aeccfb);
    /* color:#3d3a40; */
    font-family: 'Montserrat', sans-serif;
    line-break:loose;
}

#icon_name{
    font-family: 'Ubuntu', sans-serif; 

}
#h1_heading{
    font-weight:900;
    line-height: 1.2;
    
}
#bbbbb{

    border-radius: 50%;
    width: 25%;
}

/* @media only screen and(max-width:768px) {
    #nav_ul{
 
    }
} */
@media only screen and (min-width: 768px){

    .global-p {
        width: 100%;
        line-break: loose;
    }

}
#bottom_div{
    background-image: linear-gradient(rgba(f,f,f,f.6),rgba(f,f,f,f.6)),url(../ABAYSMOBILES/IMAGES/colect-phones.jpg);
    background-color: #5b5b5b;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  
}
#midle_container{
    font-family: 'Ubuntu', sans-serif; 

}